.portfolio {
  padding: 56px 40px;
}

.portfolio-enter {
  opacity: 0;
}

.portfolio-enter-active {
  opacity: 0.5;
  transition: opacity 300ms;
}

.portfolio-enter-done {
  opacity: 1;
}

.portfolio-exit {
  opacity: 1;
}

.portfolio-exit-active {
  opacity: 0.5;
  transition: opacity 300ms;
}

.portfolio-exit-done {
  opacity: 1;
}
