server {
    listen       ${PORT:-80};
    server_name  _;

    root /usr/share/nginx/html;
    index index.html;

    gzip on;
    gzip_comp_level 2;
    gzip_min_length 512;
    server_tokens off;

    # set the following to "debug" when diagnosing an issue
    error_log /dev/stdout notice;
    log_not_found on;

    # handle SNI
    proxy_ssl_server_name on;
    # resolver needs to be set because we're using dynamic proxy_pass
    resolver 8.8.8.8;

    upstream upstream_allistair-vilakazi {
        server allistair-vilakazi.herokuapp.com:443;
    }

    location / {
        try_files $$uri /index.html;
        set $upstream upstream_allistair-vilakazi;
        proxy_pass https://$upstream;
        proxy_ssl_name allistair-vilakazi.herokuapp.com;
        proxy_set_header x-forwarded-host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Host allistair-vilakazi.herokuapp.com;
    }
}