img {
    width: 100%;
    max-width: 256px;
    height: auto;
    object-fit: cover;
    filter: grayscale(0.2) opacity(0.7);
}

@media screen and (min-width: 600px) {
    img {
        max-width: 500px;
    }
}