.about {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about p,
.about h1 {
  text-align: center;
  max-width: 800px;
}

@media screen and (min-width: 800px) {
  .about {
    height: 100vh;
  }
}

.slide-1,
.slide-2,
.slide-3,
.slide-4 {
  padding: 48px;
}

.about-enter {
  opacity: 0;
}

.about-enter-active {
  opacity: 0.5;
  transition: opacity 300ms;
}

.about-enter-done {
  opacity: 1;
}

.about-exit {
  opacity: 1;
}

.about-exit-active {
  opacity: 0.5;
  transition: opacity 300ms;
}

.about-exit-done {
  opacity: 1;
}
