.about {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about p, .about h1 {
  text-align: center;
  max-width: 800px;
}

@media screen and (min-width: 800px) {
  .about {
    height: 100vh;
  }
}

.slide-1, .slide-2, .slide-3, .slide-4 {
  padding: 48px;
}